%display{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%display2{
    display: flex;
    justify-content: center;
    align-items: center;
}

%display3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


